@import "~sass/_variables.scss";
.badge{
	font-size:10px;
	position:absolute;
	margin-top:-4px;
	margin-left:-10px;
	border:1px solid $white1;
	border-radius:12px;
}
i{
	color:$gray3;
	font-size:20px;
}