$green1:#006B68;
$green2:#01B8A4;
$green3:#8CDFD6;
$gray1:#F2F2F2;
$gray2:#CCCCCC;
$gray3:#AAAAAA;
$gray4:#9E9E9E;
$black1:#2B2B2E;
$black2:#000000;
$white1:#FFFFFF;
$fontSize1:15px;
$fontSize2:14px;
$fontSize3:13px;

$smMaxWidth: 540px;
$mdMaxWidth: 720px;
$lgMaxWidth: 960px;
$xlMaxWidth: 1140px;

$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;