@import 
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/images',
'~bootstrap/scss/code',
'~bootstrap/scss/grid',
'~bootstrap/scss/tables',
'~bootstrap/scss/forms',
'~bootstrap/scss/buttons',
'~bootstrap/scss/transitions',
'~bootstrap/scss/dropdown',
'~bootstrap/scss/button-group',
'~bootstrap/scss/input-group',
'~bootstrap/scss/custom-forms',
'~bootstrap/scss/nav',
'~bootstrap/scss/navbar',
'~bootstrap/scss/pagination',
'~bootstrap/scss/badge',
'~bootstrap/scss/progress',
'~bootstrap/scss/list-group',
'~bootstrap/scss/close',
'~bootstrap/scss/utilities';

@import './variables';
@import './mixins';

html{
    height: 100%;
    & body{
    	height: 100%;
		font-family: "Open Sans",sans-serif;
		padding: 0 !important;
		margin: 0 !important;
		font-size: $fontSize2;
		direction: ltr;
		overflow-x: hidden;
		& app{
			&-menu{
				background-color: $black2;
				display: inherit;
				& .component-content{
					display:inline-flex;
				}
			}
			&-profile-bar,&-filter-bar{
				& .component-content{
					padding:0 10px;
				}
			}
			&-dashboard{
				& .component-content{
					padding:10px 5%;
					height: 100%;
					width: 100%;
					& .component-container{
						padding:10px;
					}
				}
			}
			&-diary,&-resume,&-chart,&-detail{
				& .component-content{
					min-height: 100px; 
					background-color: $white1; 
					border:1px solid $gray2;
					padding:18px;
					border-radius:4px;
					height: 100%;
					width: 100%;
					box-shadow: 0 0 4px 3px #CCCCCC;
				}
			}
			&-diary .component-content{
				background-color: $green1; 
				color:$white1;
				& i{
					margin-right:8px;
				}
				& .detail{
					padding:8px 15px;
				}
			}
		}
    }
}

.text-low{
	color:$gray4;
	font-size:$fontSize3 !important;
}

app-profile-bar,app-filter-bar{
	& div{
		line-height: 1;
	}
}

.container-fluid {
    height: auto;
    overflow-y: hidden; /* don't show content that exceeds my height */
    min-height: 1000px;
}

.dashboard-component{
	&-container{
	}
}

hr{
	margin:6px 0;
}

.container-fluid{
	border:1px 1px 1px 0 solid #CCCCCC;
	background-color: #F2F2F2;
	display:inline-flex;
	padding-left: 0;
}
.full-height{
	height: auto;
	width: auto;
	display:inline-block;
}
.c-btn{
	background-color:$white1;
	border:none;
	padding: 0.12rem 0.5rem;
	cursor:pointer;
	&:hover{
		color: $white1;
		background-color: $green2;
		border:none;
	}
	&:active{
		color: $white1;
		background-color: $gray2;
		border:none;
		box-shadow:none;
	}
	&:focus{
		color: $white1;
		background-color: $gray2;
		border:none;
		box-shadow:none;
	}
	&:not([disabled]):not(.disabled):active{
		color: $white1;
		background-color: $gray2;
		border:none;
		box-shadow:none;
	} 
	&:not([disabled]):not(.disabled).active{
		color: $white1;
		background-color: $gray2;
		border:none;
		box-shadow:none;
	}
}

.menu-toggler{
	display: inherit;
	vertical-align: middle;
	padding:6px;
	border:1px solid $gray2;
	border-radius:5px;
	cursor:pointer;
}

.vl {
    border-left: 3px solid $gray2;
    height: 60px;
    margin-left:10px;
    margin-right:10px;
}

.show > .btn-outline-primary.dropdown-toggle{

		color: #fff;
		background-color: #01B8A4;
		border:none;
		box-shadow:none;
}

@media (max-width:$smBreakpoint){
	.container-fluid{
		margin-top: 10px;
	    min-height: 400px;
	}
	app-dashboard .component-content{
		padding:5px 3px 5px 10px !important;
	}
	.full-height{
		width: 82%;
	}
}
@media (max-width:$mdBreakpoint){
	.container-fluid {
	    min-height: 600px;
	}
}
@media (max-width:$lgBreakpoint){
	.container-fluid {
	    min-height: 700px;
	}
}
@media (max-width:$xlBreakpoint){
	.container-fluid {
	    min-height: 900px;
	}
}