.minimum-items-container{
	height:auto; 
	width: 75px; 
	background-color: #OOOOOO;
	color:#858687;

}

.extra-items-container{
	height:auto; 
	width: 140px; 
	background-color: #2B2B2E;
	color:#858687;
}

.minimum-item-data{
	text-align: center;
	font-size:18px;
	padding-left:33%;
	&:hover{
		background-color:#01B8A4;
			& i{
				color:#FFFFFF;
			}
	}
}
.extra-item-data{
	text-align: left;
	padding-left:20px;
	background-color: #2B2B2E
}
.shared-sizes{
	min-height: 50px;
	vertical-align: middle;
	cursor:pointer;
	display:flex;
	align-items: center;
}
.active-item{
	background-color:#01B8A4;
	& i{
		color:#FFFFFF;
	}
}
