<div class="component-content d-inline-block d-lg-flex justify-content-center">
	<div class="d-block d-sm-inline-flex d-md-flex align-items-center justify-content-center">
	  <div class="d-block d-sm-block align-self-center progress-container">
		  <circle-progress 
				[percent]               ="63" 
				[radius]                ="20" 
				[outerStrokeWidth]      ="4"
				[innerStrokeWidth]      ="0"
				[outerStrokeColor]      ="'#01B8A4'"
				[unitsColor]            ="'#01B8A4'"
				[titleColor]            ="'#01B8A4'"
				[titleFontSize]         ="20"
				[animation]             ="true"
				[showSubtitle]          ="false"
				[backgroundStroke]      ="'#CCCCCC'"
				[backgroundStrokeWidth] ="2"
				[backgroundPadding]     ="0"
				[space]                 ="0"
				[animationDuration]     ="300"
		  ></circle-progress>
	  </div>
	  <div class="d-block d-md-block align-self-center">
	  	<span class="text-low">Total facturas Emitidas</span>
		  <h2>2,000</h2>
	  </div>
	  <div class="vl d-none d-lg-block"></div>
	</div>
	<div class="d-block d-sm-inline-flex d-md-flex  align-items-center justify-content-center progress-container">
	  <div class="d-block d-md-block">
		  <circle-progress 
				[percent]               ="78" 
				[radius]                ="20" 
				[outerStrokeWidth]      ="4"
				[innerStrokeWidth]      ="0"
				[outerStrokeColor]      ="'#01B8A4'"
				[unitsColor]            ="'#01B8A4'"
				[titleColor]            ="'#01B8A4'"
				[titleFontSize]         ="20"
				[animation]             ="true"
				[showSubtitle]          ="false"
				[backgroundStroke]      ="'#CCCCCC'"
				[backgroundStrokeWidth] ="2"
				[backgroundPadding]     ="0"
				[space]                 ="0"
				[animationDuration]     ="300"
		  ></circle-progress>
	  </div>
	  <div class="d-block d-md-block">
	  	<span class="text-low">Total facturas Recibidas</span>
		  <h2>2,000</h2>
	  </div>
	  <div class="vl d-none d-lg-block"></div>
	</div>
	<div class="d-block d-sm-inline-flex d-md-flex  align-items-center justify-content-center progress-container">
	  <div class="d-block d-md-block">
	  <circle-progress 
			[percent]           ="36" 
			[radius]                ="20" 
			[outerStrokeWidth]      ="4"
			[innerStrokeWidth]      ="0"
			[outerStrokeColor]      ="'#01B8A4'"
			[unitsColor]            ="'#01B8A4'"
			[titleColor]            ="'#01B8A4'"
			[titleFontSize]         ="20"
			[animation]             ="true"
			[showSubtitle]          ="false"
			[backgroundStroke]      ="'#CCCCCC'"
			[backgroundStrokeWidth] ="2"
			[backgroundPadding]     ="0"
			[space]                 ="0"
			[animationDuration]     ="300"
	  ></circle-progress>
	  </div>
	  <div class="d-block d-md-block">
	  	<span class="text-low">Total facturas Conciliadas</span>
		  <h2>2,000</h2>
	  </div>
	</div>
</div>