.btn-success.c-btn{
	font-size:12px;
	background-color:#01B8A4;
	color:#fff;
	border:none;
	padding: 0.12rem 0.5rem;
	&:hover{
		color: #006B68;
		background-color: #8CDFD6;
		border:none;
	}
	&:active{
		color: #006B68;
		background-color: #8CDFD6;
		border:none;
		box-shadow:none;
	}
	&:focus{
		color: #006B68;
		background-color: #8CDFD6;
		border:none;
		box-shadow:none;
	}
	&:not([disabled]):not(.disabled):active{
		color: #006B68;
		background-color: #8CDFD6;
		border:none;
		box-shadow:none;
	} 
	&:not([disabled]):not(.disabled).active{
		color: #006B68;
		background-color: #8CDFD6;
		border:none;
		box-shadow:none;
	}
}

.menu-toggler{
	background-color:#07B7A3; 
}
ul{
	margin-top:38px;
	font-size:10px;
	min-width: 142px;
	width: -moz-available;
	& li{
		line-height: 1.0;
		text-align: center;
		padding: 0.55rem 0.25rem;
	}
}