@import "~sass/_variables.scss";
.btn-success.c-btn{
	font-size:$fontSize3;
	background-color:$green2;
	color:#fff;
	border:none;
	padding: 0.12rem 0.5rem;
	&:hover{
		color: $black2;
		background-color: $green3;
		border:none;
	}
	&:active{
		color: $black2;
		background-color: $green3;
		border:none;
		box-shadow:none;
	}
	&:focus{
		color: $black2;
		background-color: $green3;
		border:none;
		box-shadow:none;
	}
	&:not([disabled]):not(.disabled):active{
		color: $black2;
		background-color: $green3;
		border:none;
		box-shadow:none;
	} 
	&:not([disabled]):not(.disabled).active{
		color: $black2;
		background-color: $green3;
		border:none;
		box-shadow:none;
	}
}

.menu-toggler{
	background-color:#07B7A3; 
}
ul{
	margin-top:38px;
	font-size:10px;
	min-width: 142px;
	width: -moz-available;
	& li{
		line-height: 1.0;
		text-align: center;
		padding: 0.55rem 0.25rem;
	}
}
.component-content{
	width: 100%;
	padding-top:5px;
}