<div class="component-content">
	<div class="row no-gutters align-items-center d-none d-sm-flex align-content-stretch flex-wrap w-100">
		<app-search class="col-xl-3 col-lg-2 col-md-2 col-sm-4 d-none d-sm-flex no-gutters">
		</app-search>
		<app-calendar class="col-xl-7 col-lg-8 col-md-7 col-sm-6 d-none d-sm-flex no-gutters">
		</app-calendar>
		<div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 no-gutters">
			<button type="button" class="btn btn-sm btn-success c-btn float-right d-none d-md-inline">
				<i class="fa fa-refresh " aria-hidden="true"></i> Actualizar Cuentas</button>
		</div>
	</div>
	<div class="d-flex d-sm-none float-left" (click)="menuToggler=!menuToggler">
		<div class="menu-toggler">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
	</div>
	<div *ngIf="menuToggler" class="d-block d-sm-none">
		<ul class="list-group">
	  		<li class="list-group-item">
	  			<app-search class="align-items-center d-flex no-gutters">
				</app-search>
			</li>
	  		<li class="list-group-item">
				<app-calendar class="d-flex no-gutters">
				</app-calendar>
			</li>
	  		<li class="list-group-item">
				<button type="button" class="btn btn-sm btn-success c-btn">
					<i class="fa fa-refresh" aria-hidden="true"></i>
					Actualizar Cuentas
				</button>
			</li>
		</ul>
	</div>
</div>