<div class="dashboar-container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-3" style="padding:10px;">
			<div class="" style="min-height: 100px; background-color: #006B68; border:1px solid #CCCCCC;">
				uno
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-9" style="padding:10px;">
			<div class="" style="min-height: 100px; background-color: #FFFFFF; border:1px solid #CCCCCC;">
				dos
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-7" style="padding:10px;">
			<div class="" style="min-height: 100px; background-color: #FFFFFF; border:1px solid #CCCCCC;">
				tres
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-5" style="padding:10px;">
			<div class="" style="min-height: 100px; background-color: #FFFFFF; border:1px solid #CCCCCC;">
				cuatro
			</div>
		</div>
	</div>
</div>