<div class="component-content">
	<div class="d-sm-inline-block d-md-flex align-content-stretch flex-wrap w-100">
		<div class="col-12 col-md-6 col-lg-12 col-xl-3 component-container">
			<app-diary>
			</app-diary>
		</div>
		<div class="col-12 col-md-6 col-lg-12 col-xl-9 component-container">
			<app-resume>
			</app-resume>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-7 component-container">
			<app-chart>
			</app-chart>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-5 component-container">
			<app-detail>
			</app-detail>
		</div>
	</div>
</div>