<div class="full-view d-none d-sm-flex">
	<div 
		*ngFor="let account of accounts"
		class="account-container col-sm-6 col-md-5 no-gutters">
		<div class="text-container col-10">
			<label>{{account.title}}</label>
			<span>{{account.data}}</span>
			<div *ngIf="account.showExtraData" class="extra-data">
				<hr>
				{{account.extraData}}
			</div>
		</div>
		<div class="expand-button col-2" (click)="account.showExtraData=!account.showExtraData">
			<i *ngIf="!account.showExtraData" class="fa fa-sort-desc" aria-hidden="true"></i>
			<i *ngIf="account.showExtraData" class="fa fa-sort-asc" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div class="d-flex d-sm-none float-left" (click)="menuToggler=!menuToggler">
	<div class="menu-toggler">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>
</div>
<div *ngIf="menuToggler" class="d-block d-sm-none">
	<ul class="list-group">
  		<li *ngFor="let account of accounts" class="list-group-item">
			<label>{{account.title}}</label>
			<span>{{account.data}}</span>
			<div  (click)="account.showExtraData=!account.showExtraData">
				<i *ngIf="!account.showExtraData" class="fa fa-sort-desc" aria-hidden="true"></i>
				<i *ngIf="account.showExtraData" class="fa fa-sort-asc" aria-hidden="true"></i>
			</div>
			<div *ngIf="account.showExtraData" class="extra-data">
				<hr>
				{{account.extraData}}
			</div>
		</li>
	</ul>
</div>