<div class="full-view d-none d-sm-flex component-content">
	<div 
		*ngFor="let account of accounts"
		class="account-container col-sm-6 col-md-5 no-gutters">
		<div class="text-container col-10">
			<label>{{account.title}}</label>
			<span>{{account.data}}</span>
		</div>
		<div ngbDropdown class="d-inline-block">
			<div class="expand-button col-2"  ngbDropdownToggle>
			</div>
		      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
		        <button class="dropdown-item">Acción 1</button>
		        <button class="dropdown-item">Acción 2</button>
		        <button class="dropdown-item">Acción 3</button>
		      </div>
	    </div>
	</div>
</div>