@import "~sass/_variables.scss";

input{
	width:110px;
	padding: 0.15rem 0.3rem;
	margin-left:5px;
	display: inline;
	cursor:pointer;
}
.full-view{
	width:100%;
}
.todo-btn{
	background-color: $gray1;
	color:$black2;
}