button{

}
.show > .btn-outline-primary.dropdown-toggle{

		color: #fff;
		background-color: #01B8A4;
		border:none;
		box-shadow:none;
}
input{
	width:110px;
	padding: 0.15rem 0.3rem;
	margin-left:5px;
	display: inline;
	cursor:pointer;
}
.full-view{
	width:100%;
}